@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,900&display=swap");
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 4em;
  padding-top: 1em;
}

.blackBackground {
  background-color: black;
  color: #ffffff;
}

.banner {
  min-height: 958px;
  background-size: cover;
  background-position: center center;
  background-image: url("./images/banner.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__infoBox {
  color: #ffffff;
  max-width: 300px;
}
.banner__infoBox > span,
.banner__infoBox > h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.banner__infoBox > h2 {
  text-align: left;
}

.banner__myName {
  font-size: 5em;
  font-weight: 900;
}

.banner__myName > span {
  display: block;
  text-align: left;
  font-size: 20px;
}

.banner__iconsBox {
  display: flex;
  margin-top: 2.5em;
  justify-content: space-between;
}
.banner__iconsBox > li {
  cursor: pointer;
  transition: 0.5s;
}
.banner__iconsBox > li:hover {
  transform: translateY(-5px);
}

.about > .container {
  width: fit-content;
}

.about__avatar {
  margin-top: 2.5em;
}

.about__basicInfoBox {
  padding: 1.5em 0;

  border-bottom: 1px solid black;
  font-size: 1.5em;
}
.about__basicInfoBox > li + li {
  margin-top: 0.5em;
}

.about__basicInfoBox > li:last-child {
  line-height: 2em;
}

.about__expInfoBox {
  font-size: 1.5em;
  margin-bottom: 3.5em;
}
.about__expInfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__expInfoBox > li {
  margin-top: 2em;
  width: fit-content;
  position: relative;
}
.about__expInfoBox > li::before {
  content: "";
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background-color: #891818;
  top: -0.1em;
  left: -2em;
}

.myBrand {
  padding-bottom: 10em;
}
.myBrand__container {
  max-width: 75em;
}
.myBrand__subtitle {
  margin-top: 0.5em;
  font-size: 1.5em;
}
.myBrand__content {
  font-size: 1.2em;
  margin: 2em 0 4em;
}

.myBrand__photoBox {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.myBrand__photoBox > li:nth-child(1) {
  margin-bottom: 2.5em;
}
.myBrand__photoBox > li:nth-child(2) {
  margin-right: 1.5em;
}

.otherWorks .container {
  max-width: 75em;
}
.otherWorks .container li {
  overflow: hidden;
}
.otherWorks .container img {
  display: block;
  cursor: pointer;
  margin-bottom: 1em;
  transition: 0.7s;
  overflow: hidden;
}
.otherWorks .container img:hover {
  transform: scale(1.05);
}
.otherWorks__subtitle {
  margin-top: 1em;
  margin-bottom: 3.5em;
}
.otherWorks__topWorksBox,
.otherWorks__centerWorksBox,
.otherWorks__bottomWorksBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  font-size: 1.2em;
}

footer {
  padding-bottom: 4em;
}

.footer__mail,
.footer__phone {
  display: block;
  font-size: 1.5em;
  margin-top: 1em;
  color: white;
  text-decoration: none;
}
